.link-container {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 1.6rem;
    text-transform: uppercase;
    overflow: hidden;
  
    &__bracket {
      color: #00aa11;
    }
  
    &__link {
      text-decoration: none;
      position: relative;
      display: inline-block;
      transition: color 0.3s ease;
  
      .link__label-up {
        display: block;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
      }

      .link__label-down {
        display: block;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
      }
  
      &:hover .link__label-up {
        transform: translateY(50%);
      }
  
      &:hover .link__label-down {
        transform: translateY(50%);
      }
    }

    .link-container__bracket--left, 
    .link-container__bracket--right {
        transition: .3s;
    }

    &:hover .link-container__bracket--left {
        margin-right: .8rem;
    }

    &:hover .link-container__bracket--right {
        margin-left: .8rem;
    }
}