@use "../abstracts/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1000;
    background-color: $green-500-a00; 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $green-100; 

    &__logo {
      .logo-link__title {
        font-family: 'Mynerve Regular', sans-serif;
        font-size: 1.6rem;
        line-height: 5.08rem;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  
    &__toggle {
      background: none;
      border: none;
      cursor: pointer;
      display: none;  
      z-index: 999;
      margin-top: -1rem;
  
      &-icon {
        width: 2rem;
        height: 0.2rem;
        position: relative;
        display: inline-block;
        transition: 0.3s ease;
        background-color: $green-500;
  
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.2rem;
          background-color: #000;
          transition: 0.3s ease;
        }
  
        &::before {
          top: -0.6rem;
          right: 1rem;
        }
  
        &::after {
          top: 0.6rem;
          right: 1rem;
        }
      }
  
      &.active &-icon {
        background: transparent;  
  
        &::before {
          transform: rotate(45deg);
          top: 0;
        }
  
        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  
    &__menu {
      display: flex;
      gap: 2rem;
      transition: all 0.3s ease;
    }
  
    &__group {
      display: flex;
      gap: 1.5rem;
  
      &--primary {
        flex-direction: row;  
      }
  
      &--secondary {
        flex-direction: row; 
      }
    }
  
    @media (max-width: 1200px) {
      &__toggle {
        display: block; 

        &.active &-icon {
            &::before,
            &::after {
                background-color: $light-green-100;
            }
        }
      }
  
      &__menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: $green-900;  
        color: $light-green-100;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transform: translateX(-100%); 
        opacity: 0;
        pointer-events: none; 
      }
  
      &__menu.active {
        transform: translateX(0); 
        opacity: 1;
        pointer-events: auto;
      }
  
      &__group {
        flex-direction: column;
        align-items: center;
      }
    }
}
  