@font-face {
    font-family: "Satoshi Regular";
    src: url("../font/Satoshi-Regular.otf") format("opentype");
}
  
@font-face {
    font-family: "Satoshi Medium";
    src: url("../font/Satoshi-Medium.otf") format("opentype");
}
  
@font-face {
    font-family: "Satoshi Bold";
    src: url("../font/Satoshi-Bold.otf") format("opentype");
}
  
@font-face {
    font-family: "ClashDisplay Light";
    src: url("../font/ClashDisplay-Light.otf") format("opentype");
}
  
@font-face {
    font-family: "Mynerve Regular";
    src: url("../font/Mynerve-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "Melodrama Variable";
    src: url("../font/Melodrama-Variable.ttf") format("truetype");
}
  